#header .logo img {
    display: block;
    max-height: 56px;
    max-width: 100%;
}

#header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    padding: 0 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, .08);
    z-index: 1001;
}

#previewModal .modal-body {
    height: 400px;
}

@media screen and (max-width: 736px) and (min-width: 320px) {
    #previewModal .modal-body {
        height: 300px;
    }
}

.swiper-container {
    margin: 0 30px;
    margin-top: 2px;
}

.masonry-cards img {
    padding: 3px 3px;
}
